* {
    margin: 0;
    padding: 0;
    outline: none;
    list-style: none;
}

img {
    max-width: 100%;
}

*::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}

a{
    text-decoration: none;
}

.container > .row >.col-12,
.container > .row >.col-6,
.container > .row >.col-4,
.container > .row >.col-3 {
    // margin-left: 0;
    // margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.col-12,
.col-6,
.col-4,
.col-3 {
    padding-right: 0;
}




a,
a:visited {
    color: inherit
}