<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thérence Ferron ● <%= pageData.title %></title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- css.gg -->
    <link href='https://css.gg/css' rel='stylesheet'>
</head>
<body>
    
    <!-- MENU NAV -->
    <%- include('nav.ejs') %>

    <!-- OVERLAY -->
    <%- include('overlay.ejs') %>

    <!-- GRID -->
    <%- include('grid.ejs') %>
    
    <!-- LANDING -->
    <section class="landing">
        <div class="container">
            <div class="row">
                <div class="col-12 pageLanding">
                    <h1 class="title title-h1 text-center text-sm-left">
                        <span class="text-wrapper">
                            <span class="letters">
                                CV
                            </span>
                        </span>
                    </h1>
                    <div class="vitrine">
                        <img src="static/galery/CV/bg2.jpg" alt="">
                    </div>
                    <div class="blocs">
                        <div class="line">
                            <div class="bloc"></div>
                            <div class="bloc"></div>
                            <div class="bloc"></div>
                            <div class="bloc"></div>
                            <div class="bloc"></div>
                        </div>
                        <div class="line">
                            <div class="bloc"></div>
                            <div class="bloc"></div>
                            <div class="bloc"></div>
                            <div class="bloc"></div>
                            <div class="bloc"></div>
                        </div>
                        <div class="line">
                            <div class="bloc"></div>
                            <div class="bloc"></div>
                            <div class="bloc"></div>
                            <div class="bloc"></div>
                            <div class="bloc"></div>
                        </div>
                        <div class="line">
                            <div class="bloc"></div>
                            <div class="bloc"></div>
                            <div class="bloc"></div>
                            <div class="bloc"></div>
                            <div class="bloc"></div>
                        </div>
                        <div class="line">
                            <div class="bloc"></div>
                            <div class="bloc"></div>
                            <div class="bloc"></div>
                            <div class="bloc"></div>
                            <div class="bloc"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- CONTENT -->
    <section class="content">
        <div class="container">
            <div class="row justify-content-md-center div-title">
                <div class="col-12">
                    <h2 class="title">
                        Mes compétences
                    </h2>
                </div>
                <div class="col-12 col-sm-0 col-md-3 div-card-empty">
                </div>
                <div class="col-12 col-sm-8 col-md-6 div-text">
                    <p class="paragraph">
                        Grace aux stages et l'alternance que j'ai réalisé j'ai pu découvrir de nombreuses technologies
                        front-end tel que Bootstrap, Jquery, Sass.
                        De plus j'ai aussi appris à utiliser des frameworks comme Angular, Vue et NuxtJs, React.
                        Aujourd'hui je maitrise en particulier NuxtJs et Vue car ce sont les technologies que j'utilise
                        en alternance.
                    </p>
                </div>
                <div class="col-12 col-sm-4 col-md-3 div-card">
                    <div class="yepCard">
                        <div class="imgCrop">
                            <img src="static/galery/cv/nuxt.png" alt="">
                        </div>
                        <div class="points">
                            <div class="point">
                                <svg width="30" height="30" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M6.2253 4.81108C5.83477 4.42056 5.20161 4.42056 4.81108 4.81108C4.42056 5.20161 4.42056 5.83477 4.81108 6.2253L10.5858 12L4.81114 17.7747C4.42062 18.1652 4.42062 18.7984 4.81114 19.1889C5.20167 19.5794 5.83483 19.5794 6.22535 19.1889L12 13.4142L17.7747 19.1889C18.1652 19.5794 18.7984 19.5794 19.1889 19.1889C19.5794 18.7984 19.5794 18.1652 19.1889 17.7747L13.4142 12L19.189 6.2253C19.5795 5.83477 19.5795 5.20161 19.189 4.81108C18.7985 4.42056 18.1653 4.42056 17.7748 4.81108L12 10.5858L6.2253 4.81108Z"
                                        fill="currentColor" />
                                </svg>
                            </div>
                            <div class="point">
                                <svg width="30" height="30" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M6.2253 4.81108C5.83477 4.42056 5.20161 4.42056 4.81108 4.81108C4.42056 5.20161 4.42056 5.83477 4.81108 6.2253L10.5858 12L4.81114 17.7747C4.42062 18.1652 4.42062 18.7984 4.81114 19.1889C5.20167 19.5794 5.83483 19.5794 6.22535 19.1889L12 13.4142L17.7747 19.1889C18.1652 19.5794 18.7984 19.5794 19.1889 19.1889C19.5794 18.7984 19.5794 18.1652 19.1889 17.7747L13.4142 12L19.189 6.2253C19.5795 5.83477 19.5795 5.20161 19.189 4.81108C18.7985 4.42056 18.1653 4.42056 17.7748 4.81108L12 10.5858L6.2253 4.81108Z"
                                        fill="currentColor" />
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-12 col-sm-4 col-md-3 div-card">
                    <div class="yepCard">
                        <div class="imgCrop">
                            <img src="static/galery/cv/symfony.jpg" alt="">
                        </div>
                        <div class="points">
                            <div class="point">
                                <svg width="30" height="30" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M6.2253 4.81108C5.83477 4.42056 5.20161 4.42056 4.81108 4.81108C4.42056 5.20161 4.42056 5.83477 4.81108 6.2253L10.5858 12L4.81114 17.7747C4.42062 18.1652 4.42062 18.7984 4.81114 19.1889C5.20167 19.5794 5.83483 19.5794 6.22535 19.1889L12 13.4142L17.7747 19.1889C18.1652 19.5794 18.7984 19.5794 19.1889 19.1889C19.5794 18.7984 19.5794 18.1652 19.1889 17.7747L13.4142 12L19.189 6.2253C19.5795 5.83477 19.5795 5.20161 19.189 4.81108C18.7985 4.42056 18.1653 4.42056 17.7748 4.81108L12 10.5858L6.2253 4.81108Z"
                                        fill="currentColor" />
                                </svg>
                            </div>
                            <div class="point">
                                <svg width="30" height="30" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M6.2253 4.81108C5.83477 4.42056 5.20161 4.42056 4.81108 4.81108C4.42056 5.20161 4.42056 5.83477 4.81108 6.2253L10.5858 12L4.81114 17.7747C4.42062 18.1652 4.42062 18.7984 4.81114 19.1889C5.20167 19.5794 5.83483 19.5794 6.22535 19.1889L12 13.4142L17.7747 19.1889C18.1652 19.5794 18.7984 19.5794 19.1889 19.1889C19.5794 18.7984 19.5794 18.1652 19.1889 17.7747L13.4142 12L19.189 6.2253C19.5795 5.83477 19.5795 5.20161 19.189 4.81108C18.7985 4.42056 18.1653 4.42056 17.7748 4.81108L12 10.5858L6.2253 4.81108Z"
                                        fill="currentColor" />
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-8 col-md-6 div-text">
                    <p class="paragraph">
                        Côté back-end j'ai beaucoup moins d'expériences, je connais évidemment php et mysql. Mais j'ai
                        seulement eu l'occasion d'utiliser Symfony.
                        <br>
                        Côté CMS je sais aussi utiliser Wordpress ainsi que Prestashop pour créer des e-commerce ou des
                        blogs.
                    </p>
                </div>
                <div class="col-12 col-sm-0 col-md-3 div-card-empty">
                </div>
            </div>
        </div>
    </section>
    <!-- Content - Expériences -->
    <section class="content">
        <div class="container">
            <div class="row justify-content-end div-title">
                <div class="col-12">
                    <h2 class="title">
                        Éxpériences
                    </h2>
                </div>
                <!-- DELIVAGRI -->
                <div class="col-12 experience-title">
                    <h3 class="title">
                        Delivagri
                    </h3>
                    <span class="sub-title">
                        Alternance de septembre 2020 à août 2021
                    </span>
                </div>
                <div class="col-12 col-sm-2 col-md-3 div-card-empty">
                </div>
                <div class="col-12 col-sm-8 col-md-6 div-text">
                    <p class="paragraph">
                        Delivagri est une entreprise qui met en relation des grossistes et des acheteurs de productions
                        agricoles. C'est une start-up localisé à Angers à WeForge, un incubateur de start-up.
                    </p>
                    <p class="paragraph">
                        A delivagri j'ai appris à utiliser NuxtJs, Vue, GraphQL, AWS, Vuetify, Jira. Autant dire que
                        j'ai énormément appris depuis le début de l'alternance, de plus, le fait de travailler avec
                        d'autres développeurs qui ont énormément d'expériences rend l'expérience encore plus riche.
                    </p>
                </div>
                <div class="col-12 col-sm-2 col-md-3 div-card-empty">
                </div>
                <div class="col-12 col-sm-4 col-md-3 div-card">
                    <div class="yepCard">
                        <div class="imgCrop">
                            <img src="static/galery/cv/delivagri.jpg" alt="">
                        </div>
                    </div>
                </div>
                <!-- ACDN -->
                <div class="col-12 experience-title">
                    <h3 class="title">
                        Au comptoir de noé
                    </h3>
                    <span class="sub-title">
                        Stage de mars 2020 à mai 2020
                    </span>
                </div>
                <div class="col-12 col-sm-2 col-md-3 div-card-empty">
                </div>
                <div class="col-12 col-sm-8 col-md-6 div-text">
                    <p class="paragraph">
                        Au comptoir de noé est une animalerie en ligne possèdant un site e-commerce.
                    </p>
                    <p class="paragraph">
                        Durant ces deux mois j'ai découvert Prestashop et son fonctionnement. J'ai du apprendre seul à
                        utiliser et comprendre le fonctionnement de ce CMS, ce stage à été très formatteur mais j'ai
                        énormément eu de mal à avancer.
                        J'ai réussi à atteindre les objectifs qui étaient fixés en début de stage, mais j'ai découvert à
                        quel point il était compliqué d'avancer seul avec très peu de documentation. Malgrès ça,
                        l'expérience à été très riche, car j'y ai fait du développement évidemment mais aussi du SEO,
                        j'ai découvert le quotidien d'une auto-entreprise, vu concrètement les ajouts que je faisais
                        avoir un impact et aussi du faire face à des problèmes de crash.
                    </p>
                </div>
                <div class="col-12 col-sm-2 col-md-3 div-card-empty">
                </div>
                <div class="col-12 col-sm-4 col-md-3 div-card">
                    <div class="yepCard">
                        <div class="imgCrop">
                            <img src="static/galery/cv/acdn.jpg" alt="">
                        </div>
                    </div>
                </div>
                <!-- AJouWeb -->
                <div class="col-12 experience-title">
                    <h3 class="title">
                        AnjouWeb
                    </h3>
                    <span class="sub-title">
                        Stage de mars 2019 à mai 2019
                    </span>
                </div>
                <div class="col-12 col-sm-2 col-md-3 div-card-empty">
                </div>
                <div class="col-12 col-sm-8 col-md-6 div-text">
                    <p class="paragraph">
                        AujouWeb est une agence web spécialisée dans la création de sites web.
                    </p>
                    <p class="paragraph">
                        Durant deux mois j'ai travaillé sur un nouveau projet interne appelé BOLeads. C'est un logiciel
                        de marketing automation qui permet aux utilisateurs de créer des scénarios et ainsi
                        d'automatiser des tâches répétitives.
                        Grâce à ce stage j'ai approfondis mes connaissances sur Jquery et découvert Bootstrap ainsi
                        qu'ajax.
                    </p>
                </div>
                <div class="col-12 col-sm-2 col-md-3 div-card-empty">
                </div>
                <div class="col-12 col-sm-4 col-md-3 div-card">
                    <div class="yepCard">
                        <div class="imgCrop">
                            <img src="static/galery/cv/anjouweb.jpg" alt="">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script src="script/script.js"></script>
</body>
</html>